body {
    background-image: repeating-linear-gradient(to right,rgb(212, 118, 133) , pink);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.back {
    margin-left: 180px !important;
  
}
table, td, th{ 
    width: 800px !important;
    margin-left: 180px !important;
} 
th {
    background-color: grey !important;

}



